.title {
  text-align:center;
  color: white;
  font-size: 36px;
}

.video-header {
  text-align: center;
  color: white;
  margin: 20px;
  margin-inside: 10px;
  font: 20px bold;
  text-transform: uppercase;
}

.menu-item {
  display: inline-block;
  font-size: 25px;
  border-color: black;
  border: 2px solid;
  color: white;
  padding: 10px 10px 10px 10px;
  margin: 20px;
  text-decoration: none;
  text-underline: none;
  text-align: center;
  cursor: pointer;
}
